{"filter":false,"title":".gitignore","tooltip":"/bookers2-debug/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":32,"column":0},"end":{"row":33,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":33,"column":0},"end":{"row":33,"column":5},"action":"insert","lines":["/.env"],"id":3}],[{"start":{"row":33,"column":5},"end":{"row":34,"column":0},"action":"insert","lines":["",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":38},"end":{"row":19,"column":38},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1605430687050,"hash":"c86fb8b4621c62ac5f17add4ea9de2f2b62166ba"}